<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrdexpress.paperless"
    android:versionCode="5"
    android:versionName="0.0.5" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    
    <!-- <barcode> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
  	<uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
	<uses-feature android:name="android.hardware.camera" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.front" android:required="false"/>
	<!-- TODO replace above two with next line after Android 4.2 -->
	<!-- <uses-feature android:name="android.hardware.camera.any"/> -->
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
	<uses-feature android:name="android.hardware.screen.landscape"/>
	<uses-feature android:name="android.hardware.wifi" android:required="false"/>
	<!-- TODO make this not required again after android.hardware.camera.any is available -->
	<!-- </barcode> -->

    <permission
        android:name="com.mrdexpress.paperless.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mrdexpress.paperless.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:name="com.mrdexpress.paperless.Paperless"
        android:icon="@drawable/mrd_logo_small"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mrdstyle" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
    
        <activity
            android:name="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:label="@string/title_deliveries"
            android:parentActivityName=".fragments.ScanFragment"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ScanActivity" />
        </activity>
        <activity
            android:name=".fragments.ScanFragment"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_scan_consignments"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.DriverHomeActivity"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.DriverHomeActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.SignatureActivity"
            android:label="@string/title_activity_signature"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.MainActivity" />
        </activity>
        <activity
                android:name="com.mrdexpress.paperless.CreatePinActivity"
                android:label="@string/title_activity_create_pin"
                android:parentActivityName=".LoginActivity"
                android:screenOrientation="portrait" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.mrdexpress.paperless.MainActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>

        <!-- Remember to change to RELEASE API key when releasing app -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/key_googlemaps_api_debug" />

        <activity
            android:name=".ViewBagManifestDialogFragment"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_view_bag_manifest"
            android:launchMode="singleTop"
            android:parentActivityName=".DriverHomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ScanActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.ManagerAuthIncompleteScanActivity"
            android:label="@string/title_activity_manager_auth_incomplete_scan"
            android:parentActivityName=".fragments.ScanFragment"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ScanActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.ReportDelayActivity"
            android:label="@string/title_report_delay"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.CallActivity"
            android:label="@string/title_call"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.SmsActivity"
            android:label="@string/title_sms"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.DeliveryHandoverFragmentActivity"
            android:label="@string/title_deliveryHandover"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.DeliveryDetailsActivity"
            android:label="@string/title_actionbar_delivery_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.TransferDataActivity"
            android:label="@string/title_actionbar_transfer_data"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.ReasonForFailedHandoverActivity"
            android:label="@string/title_actionbar_failed_delivery"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ViewDeliveriesFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.ReasonPartialDeliveryActivity"
            android:label="@string/title_reason_partial_deliveries"
            android:launchMode="singleTop"
            android:parentActivityName="com.mrdexpress.paperless.DeliveryHandoverFragmentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.DeliveryHandoverFragmentActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.DriverHomeActivity"
            android:label="@string/title_actionbar_home"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.MainActivity" />
        </activity>
        <activity
            android:name=".fragments.EnterBarcodeFragment"
            android:label="@string/title_actionbar_enter_barcode"
            android:parentActivityName=".DriverHomeActivity"
            android:screenOrientation="portrait" 
			android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.ScanActivity" />
        </activity>
        <activity
            android:name="com.mrdexpress.paperless.ManagerHomeActivity"
            android:label="@string/title_actionbar_mainmenu"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mrdexpress.paperless.MainActivity" />
        </activity>
        
        <!--  <barcode> -->
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >  
 	        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" /> 
                <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </activity>
		<activity android:name="com.google.zxing.client.android.history.HistoryActivity"
              android:label="@string/history_title"
              android:stateNotNeeded="true">
			<intent-filter>
	        	<action android:name="android.intent.action.VIEW"/>
	        	<category android:name="android.intent.category.DEFAULT"/>
      	</intent-filter>
    	</activity>
     	<activity android:name="com.google.zxing.client.android.PreferencesActivity"
			android:label="@string/preferences_name"
			android:stateNotNeeded="true">
		</activity>
        <activity android:name=".workflow.CheckConnectivity"/>
        <!--  </barcode> -->

        <receiver android:name="com.mrdexpress.paperless.net.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.mrdexpress.paperless" />
            </intent-filter>
        </receiver>

        <service android:name=".service.GCMIntentService" />
        <service android:name=".service.LocationService" />
        <service android:enabled="true" android:name=".service.PaperlessService" />

        <receiver  android:process=":remote" android:name=".service.LocationBroadcastReceiver"></receiver>

    </application>

</manifest>